
<div class="movies_list">
  <ul>
    <li class="card" ng-repeat="movie in movies">
      <div class="movie_container">
        <div class="row">
          <div class="col m2 movie_picture"><img  ng-src={{movie.photoUri}} alt={{movie.name}}></div>
          <div class="col m5 movie_title">
            <span>{{movie.name}}</span>
            <p>{{movie.description}}</p>
          </div>
        </div>
        <button class="btn" ng-click="showMovieDetail(movie.Id, movie.name)">details</button>
      </div>
    </li>
  </ul>
  <div class="popup_background valign-wrapper"  ng-if="showPopup" ui-view="popup"></div>

</div>
