body {
  height: 100% !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

.header {
  width: 100% !important;
  height: auto;
  background-color: #fff;
}

.page_content {
  height: 100%;
}

.footer {
  width: 100%;
}

.header_wrapper {
  border-bottom: 1px solid #1de9b6;
  height: 100%;
}

.header__logo {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
}

.header__logo-title {
  text-decoration: none;
  color: #121111;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: bolder;
  border: 3px solid #20ddc0;
  padding: 12px;
  border-radius: 10px;
}

.form__wrapper {
  margin: 0;
  height: auto;
  margin-top: 50px;
  padding: 30px !important;
  padding-bottom: 0 !important;
  background-color: #fff;
}

.header__menu__wrapper {
  margin: 0 !important;
  margin-bottom: -15px !important;
}

.header__menu li {
  display: inline-block;
  height: 36px;
  margin-right: 15px;
  font-size: 20px;
  border-bottom: 0px solid rgba(16, 170, 149, 0);
  -webkit-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}

.header__menu a {
  color: #000;
}

li:hover {
  border-radius: 1px;
}

.side_bar {
  height: 100% !important;
}

.content_field {
  background-color: #fff;
}

.side_bar li {
  margin: 0;
  padding: 0;
  height: 35px;
  padding-left: 5px;
}

.side_bar li:hover {
  background-color: #10aa95;
}
