header.header
	div.row.header_content
		div.col.s2
			div.header_logo.center
				p.header_logo-title movie extended
		div.col.s5.header_menu_wrapper
			ul.header_menu 
					li 
						a(href="/registry") Главная
					li
						a(href="/profile") Личный кабинет
		div.right.account
			a(href="/profile").username User Name ing nfb