section.header
  div.header_wrapper
    div.header__logo.col.offset-s6.offset-m1
      p.header__logo-title extended movie
    div.container
        div.col.s6.m12.header__menu__wrapper
          ul.header__menu
            li 
              a(href="#") Главная
            li
              a(href="#") Личный кабинет
        
