header.header.header_fixed
	nav.teal.lighten-2
		div.row.header_content.nav-wrapper
			a(href="/registry").left.header_logo
				span.header_logo_title MOVIE EXTENDED
			ul.col.nav_menu
				li 
					a(href="/registry") Главная
				li
					a(href="/profile") Личный кабинет
			a(href="/profile").user_name.right User Name 
						