section.header
    div.header__logo.col.offset-s6.offset-m1
      p.header__logo-title extended movie
    div.container
        div.col.s6.m12.header__menu__wrapper
          ul.header__menu
            li 
              a(href="/registry") Главная
            li
              a(href="/profile") Личный кабинет
        
