section.header
    div.header_logo
      p.header_logo-title movie extended
    div.container
        div.col.s6.m12.header_menu_wrapper
          ul.header_menu
            li 
              a(href="/registry") Главная
            li
              a(href="/profile") Личный кабинет
        
