extends profile
block content 
  section.page_content
    div.row.profile_content
      div.col.m2.side_menu.z-depth-2
        ul.side_menu_list
          li 
            a(href="#") Фильмы
          li
            a(href="#") Кинотеатры  
      div.col.m10.profile_content_field
        div.field_header
          span.field_title Ваши кинотеатры
          button.btn.add_button +
        div.movies_list
          ul
            li.card
              div.movie_container
                div.row
                  div.col.m2.movie_picture dwmdwmod
                  div.col.m9.movie_title
                    span Star wars
                div.movie_description
                    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolore quaerat nam cumque incidunt, vero eos nisi consequatur. Facere, ullam atque. Ducimus nesciunt perspiciatis, iste odit ab quo ipsa animi.
              
    
