<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
    <title></title>
  </head>
  <body>
    <section class="header">
      <div class="header_wrapper">
        <div class="header__logo col offset-s6 offset-m1">
          <p class="header__logo-title">extended movie</p>
        </div>
        <div class="container">
          <div class="col s6 m12 header__menu__wrapper">
            <ul class="header__menu">
              <li> <a href="#">Главная</a></li>
              <li><a href="#">Личный кабинет</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="page_content">
      <div class="row">
        <div class="profile_content">
          <div class="row">
            <div class="col s2 side_bar content_field">
              <div class="side_bar_menu_list">
                <ul>
                  <li> <a href="#">Фильмы и кинотеатры</a></li>
                  <li> <a href="#">Расписание показов</a></li>
                  <li><a href="#">Как пользоваться          </a></li>
                </ul>
              </div>
            </div>
            <div class="col s5 movies__contaier content_field">
              <div class="movies_list_header"><span>Ваши фильмы</span></div>
              <div class="movies__toolbar">
                <button class="btn add__movie__button"></button>
              </div>
              <div class="movies__list__wrapper">
                <ul class="movies__list">     </ul>
              </div>
            </div>
            <div class="col s5 cinemas__container content_field"> 
              <div class="cinemas_list_header"><span>Ваши кинотеатры</span></div>
              <div class="cinemas__toolbar">
                <button class="btn add__cinema__button"></button>
              </div>
              <div class="cinemas__list__wrapper">
                <ul class="cinemas__list"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer"></section>
  </body>
</html>