div.field_header
  span.field_title Ваши фильмы 
  button.btn.add_button +
div.movies_list
  ul
    li(ng-repeat="movie in movies").card.lighten-2
      div.movie_container
        div.row
          div.col.m2.movie_picture
          div.col.m9.movie_title
            span {{movie.name}}
        div.movie_description
            p {{movie.description}}
      
