extends layout
block header
  include header
block content 
  section.page_content
    div.row.profile_content
      div.col.m2.side_menu
        ul.side_menu_list
          li 
              a(ui-sref="movies") 
                span Фильмы
          li
              a(ui-sref="cinemas")
                 span Кинотеатры  
      div(ui-view).col.m10.profile_content_field

                  
