extends layout
block header
  include header
block content 
  section.page_content
    div.row
      div.profile_content
        div.row
          div.col.s2.side_bar.content_field
            div.side_bar_menu_list
              ul
                li 
                  a(href="#") Фильмы и кинотеатры
                li  
                  a(href="#") Расписание показов
                li
                  a(href="#") Как пользоваться          
          div.col.s5.movies__contaier.content_field
            div.movies_list_header
              span Ваши фильмы
            div.movies__toolbar
              button.btn.add__movie__button
            div.movies__list__wrapper
              ul.movies__list      
          div.col.s5.cinemas__container.content_field 
            div.cinemas_list_header
              span Ваши кинотеатры
            div.cinemas__toolbar
              button.btn.add__cinema__button
            div.cinemas__list__wrapper
              ul.cinemas__list
block footer              
  section.footer
                  
