extends layout
block header
  include header
block content 
  section.page_content
    div.row
      div.profile_content.col.offset-m2
      div.col.m3.side_menu
        ul
          li 
            a(href="#") Фильмы
          li
            a(href="#") Кинотеатры  
      div.col.m5.profile_content_field
        block field
block footer              
  section.footer
                  
