extends layout
block header
  include header
block content 
  section.page_content
    div.row.profile_content
      div.side_menu.side_menu_fixed
        ul.side_menu_list
          li 
              a(ui-sref="movies") 
                div Фильмы
          li
              a(ui-sref="cinemas")
                 div Кинотеатры  
      div(ui-view="header").profile_header.z-depth-1
      section(ui-view="content").profile_content

                  
