<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
    <title></title>
  </head>
  <body>
    <section class="header">
      <div class="header__logo col offset-s6 offset-m1">
        <p class="header__logo-title">extended movie</p>
      </div>
      <div class="container">
        <div class="col s6 m12 header__menu__wrapper">
          <ul class="header__menu">
            <li> <a href="#">Главная</a></li>
            <li><a href="#">Личный кабинет</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="page_content">
      <div class="row profile_content">
        <div class="col m2 side_menu z-depth-2">
          <ul class="side_menu_list">
            <li> <a href="#">Фильмы</a></li>
            <li><a href="#">Кинотеатры  </a></li>
          </ul>
        </div>
        <div class="col m10 profile_content_field">
          <div class="field_header"><span class="field_title">Ваши кинотеатры</span>
            <button class="btn add_button">+</button>
          </div>
          <div class="movies_list">
            <ul>
              <li class="card">
                <div class="movie_container">
                  <div class="row">
                    <div class="col m2 movie_picture">dwmdwmod</div>
                    <div class="col m9 movie_title"><span>Star wars</span></div>
                  </div>
                  <div class="movie_description">
                    <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolore quaerat nam cumque incidunt, vero eos nisi consequatur. Facere, ullam atque. Ducimus nesciunt perspiciatis, iste odit ab quo ipsa animi.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="footer"></section>
  </body>
</html>