<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
  </head>
  <body>
    <div class="header">
      <div class="header__logo">
        <p class="header__logo-title">extended movie </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m valign form__wrapper"></div>
      </div>
    </div>
  </body>
</html>
