<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
    <title></title>
  </head>
  <body>
    <section class="header">
      <div class="header_wrapper">
        <div class="header__logo col offset-s6 offset-m1">
          <p class="header__logo-title">extended movie</p>
        </div>
        <div class="container">
          <div class="col s6 m12 header__menu__wrapper">
            <ul class="header__menu">
              <li> <a href="#">Главная</a></li>
              <li><a href="#">Личный кабинет</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col s12 form__wrapper card">
          <div class="form__title">
            <h1 class="card-title">Регистрация в системе</h1>
          </div>
          <form class="registry__form">
            <div class="register__form">
              <div class="row contacts__form">
                <div class="input-field col s12 m6">
                  <input ng-model="" type="text" placeholder="Имя компании">
                </div>
                <div class="input-field col s12 m6">
                  <input ng-model="" type="url" placeholder="Адрес компании">
                </div>
                <div class="input-field col s12 m6">
                  <input ng-model="" type="email" placeholder="Email">
                </div>
                <div class="input-field col s12 m6">
                  <input ng-model="" type="text" placeholder="Контактный телефон">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4">
                  <input ng-model="" type="password" placeholder="Пароль">
                </div>
                <div class="input-field col s12 m4">
                  <input ng-model="" type="password" placeholder="Пароль еще раз">
                </div>
              </div>
            </div>
          </form>
          <div class="card-action">     
            <div class="btn waves-effect waves-green right submit__button">
              <input type="submit" value="Начать" ng-disabled="submitted">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>