extends layout
block header
  include header
block content
  div.container
    div.row
      div.col.s12.form__wrapper.card
        div.form__title
          h1.card-title Регистрация в системе
        form.registry__form
          div.register__form
            div.row.contacts__form
              div.input-field.col.s12.m6
                input(ng-model='', type='text', placeholder='Имя компании')
              div.input-field.col.s12.m6
                input(ng-model='', type='url', placeholder='Адрес компании')
              div.input-field.col.s12.m6
                input(ng-model='', type='email', placeholder='Email')
              div.input-field.col.s12.m6
                input(ng-model='', type='text', placeholder='Контактный телефон')
            div.row
              div.input-field.col.s12.m4
                input(ng-model='', type='password', placeholder='Пароль')
              div.input-field.col.s12.m4
                input(ng-model='', type='password', placeholder='Пароль еще раз')
         div.card-action      
            div.btn.waves-effect.waves-green.right.submit__button
              input(type='', value='Начать', ng-disabled='') 
          
          
         
