doctype html
html(lang='en', ng-app='meApp', ng-controller='appCtrl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title(ng-bind='title')
    link(rel='stylesheet', href='../styles/main.css')
    link(rel='stylesheet', href='../styles/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../styles/lib/foundation.min.css')
  body(ng-controller='pageCtrl', ng-cloak='')
    .wrapper(ng-cloak='')
      section.header.small-12.columns
        a.logo(href='#') Movie Extended
        nav.nav_bar(ng-cloak='')
          ul
            li
              a(ui-sref='auth' ) Вход
            li
              a(ui-sref='account({id: currentUser.id})') Личный кабинет
            li(ng-if='currentUser.id')
              a#logout(ng-click='logout()')
                i.fa.fa-sign-out
        .clearfix

      section.sideMenu_wrap.small-3.columns
        ul.sideMenu_menuList
          li.sideMenu_menuItem
            a(ui-sref='account.movies({id: 1})') Фильмы
          li.sideMenu_menuItem
            a(ui-sref='account.cinemas({id: 1})') Кинотеатры
         .clearfix

      section.workSpace_wrap.small-9.columns
         div.workSpace_header
           ul.workSpace_breadCrumbs
             li
               a(href='#') Личный кабинет
             li
               a(href='#') Кинотеатры
             ul.options
               i.fa.fa-search
               i.fa.fa-bars
         .clearfix

      section(ui-view='account_content')
      section(ui-view='footer')
    script(type='text/javascript', src='../js/lib/angular.min.js')
    script(type='text/javascript', src='../js/lib/angular-sanitize.min.js')
    script(type='text/javascript', src='../js/lib/angular-ui-router.min.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload-shim.js')
    script(type='text/javascript', src='../js/build/build.js')
