body {
  height: 100% !important;
  min-height: 100%;
  margin: 0;
  padding: 0; }

.header {
  width: 100% !important;
  position: relative;
  padding-left: 30px;
  border-bottom: 1px solid #1de9b6; }

  .left__bar {
    height: 400px;
    width: 400px;
    position: fixed;

  }
