<html class="page_cont" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
            <div class="sideMenu_wrap small-2 columns ">
                <ul class="sideMenu_menuList">
                    <li class="sideMenu_menuItem"><a href="#">Фильмы</a></li>
                    <li class="sideMenu_menuItem"><a  href="#">Кинотеатры</a></li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">Mike Mikerson</span>
                </div>
            </div>
            <div class="workSpace_head">
                <ul class="breadCrumbs">
                    <li><a href="#">Личный кабинет</a></li>
                    <li><a href="#">Кинотеатры</a></li>
                </ul>
                <ul class="options">
                    <li><i class="fa fa-search"></i></li>
                    <li><i class="fa fa-bars"></i></li>
                </ul>
            </div>
            <div class="row small-up-2 medium-up-3 large-up-4">
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 1</h5>
                </div>
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 2</h5>
                </div>
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 3</h5>
                </div>
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 4</h5>
                </div>
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 5</h5>
                </div>
                <div class="column">
                    <img src="">
                    <h5>Кинотеатр 6</h5>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>