<div class="page_content">
	<div class="row">
		<div class="sideMenu_wrap small-3 columns">
			<ul class="sideMenu_menuList">
				<li class="sideMenu_menuItem"><a ui-sref="account.movies({id: 1})">Фильмы</a></li>
				<li class="sideMenu_menuItem"><a ui-sref="account.cinemas({id: 1})">Кинотеатры</a></li>
			</ul>
		</div>

		<div class="workSpace_wrap small-9 columns">

			<div class="workSpace_header">
				<ul class="breadCrumbs">
					<li><a href="#">Личный кабинет</a></li>
					<li><a href="#">Кинотеатры</a></li>
				</ul>
			</div>

				<div class="workSpace_content">
					<div class="workSpace_options"></div>
					<ul class="workSpace_itemList">
						(li>div.cinemaItem)*5
					</ul>
				</div>
		</div>

	</div>

</div>