<section class="account_content small-10 columns">
        <div class="workSpace_content small-up-1 medium-up-2 large-up-3">
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 1 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 2 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 3 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 4 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 5 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 6 </p>
            </div>
        </div>

        <a href="#" class="addButton"> Добавить фильм  </a>
 </section>
