<div class="page_content">
	<div class="row">
		<div class="sideMenu_wrap small-3 columns">
			<ul class="sideMenu_menuList">
				<li class="sideMenu_menuItem"><a ui-sref="account.movies({id: 1})">Фильмы</a></li>
				<li class="sideMenu_menuItem"><a ui-sref="account.cinemas({id: 1})">Кинотеатры</a></li>
			</ul>
		</div>
		<div class="wS_wrap small-9 columns">
			<div class="wS_header">
				<ul class="wS_breadCrumbs">
					<li><a href="#">Личный кабинет</a></li>
					<li><a href="#">Кинотеатры</a></li>
				</ul>
			</div>
			<div class="wS_content" ui-view="account_content"></div>
		</div>

	</div>

</div>