<section class="account_content small-10 columns">
	<div class="workSpace_content small-10 columns">
		<ul class="column">
			<li><a href="#">Кинотеaтр 1</a></li>
			<p> адрес бла-бла </p>
		</ul>
		<ul class="column">
			<li><a href="#">Кинотеaтр 2</a></li>
			<p> адрес бла-бла </p>
		</ul>
		<ul class="column">
			<li><a href="#">Кинотеaтр 3</a></li>
			<p> адрес бла-бла </p>
		</ul>
		<ul class="column">
			<li><a href="#">Кинотеaтр 4</a></li>
			<p> адрес бла-бла </p>
		</ul>
		<ul class="column">
			<li><a href="#">Кинотеaтр 5</a></li>
			<p> адрес бла-бла </p>
		</ul>
		<ul class="column">
			<li><a href="#">Кинотеaтр 6</a></li>
			<p> адрес бла-бла </p>
		</ul>
	</div>
	<a href="#" class="addButton"> Добавить кинотеатр </a>
</section>

