
<div class="page_content account">
<div class="row">
	<div class="small-12 columns accountInfo_wrap">
		<ul class="accountInfo_details">
		</ul>
	</div>
</div>

	<div>
		<div class="sideMenu_wrap small-2 columns ">
			<ul class="sideMenu_menuList">
				<li class="sideMenu_menuItem"><a href="#">Фильмы</a></li>
				<li class="sideMenu_menuItem"><a  href="#">Кинотеатры</a></li>
			</ul>
		</div>

		<div class="workSpace_wrap small-10 columns">

			<div class="workSpace_header">
				<ul class="breadCrumbs">
					<li><a href="#">Личный кабинет</a></li>
					<li><span class="slash">/</span></li>
					<li><a href="#">Кинотеатры</a></li>
				</ul>
				<ul class="options">
					<li><i class="fa fa-search"></i></li>
					<li><i class="fa fa-bars"></i></li>
				</ul>
			</div>

				<div class="workSpace_content">
					<div class="workSpace_options"></div>
					<ul class="workSpace_itemList">
						<li>
							<div class="cinemaItem">

								<div class="cinemaItem_name"><a href="#">Кинотеатр 1</a>
				                </div>
							</div>
						</li>
						<li>
							<div class="cinemaItem">
								<div class="cinemaItem_name"><a href="#">Кинотеатр 2</a></div>
							</div>
						</li>
						<li>
							<div class="cinemaItem">
								<div class="cinemaItem_name"><a href="#">Кинотеатр 3</a></div>
							</div>
						</li>
						<li>
							<div class="cinemaItem">
								<div class="cinemaItem_name"><a href="#">Кинотеатр 4</a></div>
							</div>
						</li>
						<li>
							<div class="cinemaItem">
								<div class="cinemaItem_name"><a href="#">Кинотеатр 5</a></div>
							</div>
						</li>
					</ul>
				</div>
		</div>

	</div>

</div>