<div class="page_content account">
    <div class="row">
        <div class="small-12 columns accountInfo_wrap">
            <ul class="accountInfo_details">
                <li>Жамбыл Ермагамбет</li>
                <li>Даггер синемас</li>
            </ul>
        </div>
    </div>

    <div>
        <div class="sideMenu_wrap small-2 columns">
            <ul class="sideMenu_menuList">
                <li class="sideMenu_menuItem"><a href="#">Фильмы</a></li>
                <li class="sideMenu_menuItem"><a  href="#">Кинотеатры</a></li>
            </ul>
        </div>

        <div class="workSpace_wrap small-10 columns">

            <div class="workSpace_header">
                <ul class="breadCrumbs">
                    <li><a href="#">Личный кабинет</a></li>
                    <li><a href="#">Кинотеатры</a></li>
                </ul>
                <ul class="options">
                    <li><i class="fa fa-search"></i></li>
                    <li><i class="fa fa-bars"></i></li>
                </ul>
            </div>

            <div class="workSpace_content">
                <div class="workSpace_options"></div>
                <ul class="workSpace_itemList">
                    <li>
                        <div class="cinemaItem">

                            <div class="cinemaItem_name">Кинотеатр 1</div>

                        </div>
                    </li>
                    <li>
                        <div class="cinemaItem">
                            <div class="cinemaItem_name">Кинотеатр 2</div>
                        </div>
                    </li>
                    <li>
                        <div class="cinemaItem">
                            <div class="cinemaItem_name">Кинотеатр 3</div>
                        </div>
                    </li>
                    <li>
                        <div class="cinemaItem">
                            <div class="cinemaItem_name">Кинотеатр 4</div>
                        </div>
                    </li>
                    <li>
                        <div class="cinemaItem">
                            <div class="cinemaItem_name">Кинотеатр 5</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>