<section class="account_content">
    <div class="row">
        <div class="row small-up-2 medium-up-3 large-up-4">
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 1 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 2 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 3 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 4 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 5 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 6 </p>
            </div>
        </div>

        <a href="#" class="addButton"> Добавить фильм  </a>
    </div>
 </section>
