<div class="account_content">
    <div class="row">
        <p>Кинотеатр 1</p>

        <article class="row small-up-2 medium-up-3 large-up-4">
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 1 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 2 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 3 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 4 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 5 </p>
            </div>
            <div class="column">
                <img src="#" height="250" width="250">
                <p> Фильм 6 </p>
            </div>
        </article>
        <p class="address"> sertyuiolhgfcvhbjnkml </p>
    </div>
</div>

