<section class="account_content small-10 columns">
    <article class="movie_description " >
    <p class="movie_name"> Каролина в стране кошмаров</p>
    <p class="movie_director"> Тим Бертон </p>
    <p class="movie_plot">Корали́на Джонс вместе с любящими её, но постоянно занятыми работой родителями, переезжает на новое место жительства в город Ашленд (штат Орегон). Исследуя близлежащий лес, Коралина сталкивается с беспризорным чёрным котом и одиноким мальчиком Ва́йби Лова́том. Мальчик дарит ей куклу, удивительно похожую на саму Коралину, которую он нашёл у своей бабушки. Кроме того, в том же доме, где живёт Коралина, проживают пожилые актрисы мисс Спи́нк и мисс Фо́рсибл, а также русский эмигрант-акробат Сергей Александрович Боби́нски.

        Исследуя квартиру, Коралина находит маленькую дверь, заложенную кирпичами. Помня о сне, в котором девочка видела «прыгающую мышку с глазами-пуговицами», она идёт к двери. Затем Коралина обнаруживает проход, простирающийся за этой миниатюрной дверью, который приводит её к точно такому же дому, в «Потусторонний мир». Прибыв туда, Коралина встречает людей с глазами-пуговицами, которые являлись копиями её матери и отца. Эти люди утверждают, что являются её «другими» родителями.</p>
</article>
    <img src="#" height="500" width="500" class="movie_img">
</section>
