<body>
<div class="page_content account">
    <div class="row">
        <div class="small-12 columns accountInfo_wrap">
            <ul class="accountInfo_details">
            </ul>
        </div>
    </div>
</div>

<section>
    <section class="sideMenu_wrap small-3 columns">
        <ul class="sideMenu_menuList">
            <li class="sideMenu_menuItem"><a href="#"> <p>Фильмы</p> </a></li>
            <li class="sideMenu_menuItem"><a href="#"> <p>Кинотеатры</p> </a></li>
        </ul>

    </section>

    <section class="workSpace_wrap small-9 columns">
        <article class="workSpace_header">
            <ul class="workSpace_breadCrumbs">
                <li><a href="#"><p>Личный кабинет</p> </a> </li>
                <span> &frasl;</span>
                <li><a href="#"><p> Кинотеатры </p></a></li>
                <span> &frasl;</span>
                <li><a href="#"><p> Фильм 1 </p></a></li>
            </ul>

            <ul class="options">
                <li><i class="fa fa-search" aria-hidden="true"></i></li>
                <li><i class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>

        </article>

        <p>Фильм 1</p>

        <article class="row small-up-2 medium-up-3 large-up-4">
            <p class="movie_description">
                <h4 class="movie_director"> Тим Бертон </h4>
                <p class="movie_plot"> блаблаблабала</p>
            </p>
        </article>
    </section>
</section>

</body>
</html>