<section class="account_content">
    <p class="addMovieName"> Название:
    <input type="text" name="moviename" size="40"/>
    </p>
    <p class="addMovieDirector"> Режиссер:
    <input type="text" name="moviedirector" size="40"/>
    </p>
    <textarea class="addMoviePlot" name="movieplot" cols="60" rows="60"> Описание... </textarea>
    <p class="addMoviePosterLabel"> Постер: </p>
    <input class="addMoviePoster" type="file" name="poster"/>
    <input class="addMovieButton" type="submit" value="Добавить"/>
    <input class="addMovieCancel" type="submit" value="Отмена"/>
</section>