/*common*/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background: #848988;
  font-size: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none; }

a {
  text-decoration: none;
  font-size: 15px; }

ul {
  list-style: none; }

p {
  font-size: 14px; }

span {
  font-size: 14px; }

.clearfix {
  clear: both; }

/*page*/
.wrapper {
  height: 100%;
  position: relative; }

.page_content {
  height: 100% !important;
  font-family: Calibri;
  width: 100%;
  padding-top: 60px;
  button: c; }

.verticalOffset {
  margin-top: 100px;
  margin-bottom: 100px; }

.header {
  height: 60px;
  line-height: 60px;
  background-color: rgba(185, 186, 185, 0.5);
  z-index: 1000;
  position: absolute;
  top: 0; }

.nav_bar {
  float: right;
  height: 100%;
  display: inline-block; }

.nav_bar ul {
  height: 100%; }

.nav_bar li {
  display: inline-block;
  color: #000;
  margin-right: 25px;
  height: 100%;
  box-sizing: border-box;
  transition: all .2s;
  color: rgba(185, 186, 185, 0.5);
  font-size: 18px; }

.nav_bar a {
  display: inline-block;
  height: 100%;
  color: #000;
  border-bottom: solid 0 #fff; }

.nav_bar a:hover {
  cursor: pointer; }

.logo {
  font-size: 24px;
  color: #000; }

/* auth */
.form_wrap {
  height: 400px; }

.auth_form {
  height: 100%; }

.form_label {
  height: 80px;
  font-size: 16px;
  font-weight: bold; }

.form_input {
  font-weight: normal;
  padding: 10px;
  width: 100%;
  font-size: 16px; }

.form_submit {
  font-style: normal;
  font-weight: bold;
  padding: 5px;
  width: 100%; }

/* account */
.accWS {
  background: rgba(185, 186, 185, 0.5); }

.account {
  width: 100%; }

.sideMenu_menuItem a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 24px;
  color: black;
  position: relative; }

.sideMenu_wrap {
  margin: 0;
  padding: 0;
  float: left; }

.sideMenu_menuList {
  width: 100%;
  min-height: 100vh;
  background: rgba(137, 138, 141, 0.8);
  padding-top: 100px; }

.sideMenu_menuItem {
  padding: 20px; }

.sideMenu_menuItem p {
  font-family: Comic Sans MS, cursive;
  font-size: 40px; }

.workSpace_header {
  height: 40px;
  position: relative;
  background: rgba(199, 86, 67, 0.6); }

.workSpace_wrap {
  width: 85%;
  padding: 0;
  min-height: 100vh;
  box-shadow: 0 0 15px; }

.workSpace_content {
  background: #ddd;
  position: relative; }

.workSpace_content ul {
  border-bottom: solid 1px black;
  padding-top: 15px;
  padding-bottom: 15px; }

.workSpace_breadCrumbs {
  padding-right: inherit;
  float: left; }

.workSpace_breadCrumbs p {
  font-family: Helvetica, sans-serif;
  color: #000061;
  font-size: 15px;
  word-spacing: normal; }

.workSpace_breadCrumbs li {
  display: inline-block;
  vertical-align: bottom; }

.options {
  display: inline-block;
  float: right; }

.options li {
  display: inline-block;
  float: right; }

.addButton {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 2.5em;
  line-height: 2.4em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: #000;
  outline: none;
  border: 1px solid rgba(110, 121, 128, 0.8);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #cedce7 linear-gradient(#cedce7, #596a72);
  box-shadow: 0 -1px rgba(10, 21, 28, 0.9) inset, 0 1px rgba(255, 255, 255, 0.5) inset; }
