
/*common*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
    width: 100%;
}

body {
	font-family: Helvetica, sans-serif ;
	height: 100%;
    width: 100%;
    background: rgba(132, 137, 136, 1);
    font-size: 0;

}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none ;
}

 a {
  text-decoration: none;
   font-size: 15px;
}

ul {
  list-style: none;
}

p{
  font-size: 14px;
}

span{
  font-size: 14px;
}

.clearfix {
	clear: both;
}

/*page*/

.wrapper {
  height: 100% ;
  position: relative; }


.page_content {
  height: 100% !important;
  font-family: Calibri;
  width: 100%;
  padding-top: 60px;
  button: c
}

.verticalOffset {
  margin-top: 100px;
  margin-bottom: 100px; }

.header {
  height: 60px;
  line-height: 60px;
  background-color: rgba(185, 186, 185, 0.5);
  z-index: 1000;
  position: absolute;
  top: 0;
}

.nav_bar {
  float: right;
  height: 100%;
  display: inline-block;
}

.nav_bar ul {
  height: 100%; }

.nav_bar li {
  display: inline-block;
  color: #000;
  margin-right: 25px;
  height: 100%;
  box-sizing: border-box;
  transition: all .2s;
  color: rgba(185, 186, 185, 0.5);
  font-size: 18px; }


.nav_bar a {
  display: inline-block;
  height: 100%;
  color: #000;
  border-bottom: solid 0 #fff; }

.nav_bar a:hover {
  cursor: pointer;
}

.logo {
  font-size: 24px;
  color: #000;
}

/* auth */

.form_wrap {
  height: 400px;
}

.auth_form {
  height: 100%;
}

.form_label {
  height: 80px;
  font-size: 16px;
  font-weight: bold;
}

.form_input {
  font-weight: normal;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.form_submit {
  font-style: normal;
  font-weight: bold;
  padding: 5px;
  width: 100%;
}

/* account */

.accWS {
  background: rgba(185, 186, 185, 0.5);
}

.account {
  width: 100% ;
}

.account_content.ng-scope{
  position:relative;
  display:inline-block;
  width: 83%;
}

.sideMenu_menuItem a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 24px;
  color: black;
  position: relative;
}

.sideMenu_wrap {
  margin-top: 60px;
  padding: 0;
  float:left;
}

.sideMenu_menuList{
  width: 100%;
  min-height: 100vh;
  background: rgba(137, 138, 141, 0.8);
  padding-top: 100px;

}

.sideMenu_menuItem {
  padding: 20px;
  cursor: pointer;
}

.sideMenu_menuItem p{
  font-family: Helvetica, sans-serif ;
  font-size: 40px;
  position: relative;
}

.workSpace_header {
  height: 40px;
  position: relative;
  background: rgba(199, 86, 67, 0.6);
}
.workSpace_wrap{
  width: 85%;
  padding: 0 ;
  margin-top: 60px;
  min-height: 50px;
  display: inline-block;
}

.workSpace_content {
  min-width: 100vh;
  background: #ddd;
  position: relative;
  display: inline-block;
}

.workSpace_content.small-10.columns{
  width: 100%;
}

.workSpace_content.small-up-1.medium-up-2.large-up-3{
  width: 100%;
}

.workSpace_content ul{
  border-bottom: solid 1px black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.workSpace_breadCrumbs{
  padding-right: inherit;
  float: left;
}

.workSpace_breadCrumbs p{
  font-family: Helvetica, sans-serif;
  color: rgb(0,0,97);
  font-size: 15px;
  word-spacing: normal;
}

.workSpace_breadCrumbs li {
  display: inline-block;
  vertical-align: bottom;
}


.options {
  display: inline-block;
  float: right;
}

.options li {
  display: inline-block;
  float: right;
}

.addButton{
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;

}

.movie_description{
  display: inline-block;
  float: left;
  width: 50%;
}

.movie_name{
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  word-spacing: normal;
  text-align: center;
}

.movie_director{
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  word-spacing: normal;
}

.movie_plot{
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  word-spacing: normal;
}

.movie_img{
  display: inline-block;
  float: inherit;
}

.cinemaName{
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  word-spacing: normal;
  text-align: center;
}

.addMovieName{
  display: inline-block;
  font-family: Helvetica, sans-serif ;
  font-size: 17px;
}

.addMovieDirector{
  display: inline-block;
  font-family: Helvetica, sans-serif ;
  font-size: 17px;
}

.addMoviePlot{
  display: block;
  width: 95%;
  height: 100px;
  font-family: Helvetica, sans-serif ;
  font-size: 15px;
}

.addMoviePoster{
  display: inline-block;
  font-family: Helvetica, sans-serif ;
}

.addMoviePosterLabel{
  display: inline-block;
  font-family: Helvetica, sans-serif ;
  font-size: 17px;
}

.addMovieButton{
  display: block;
  width: 150px;
}

.addMovieCancel{
  display: inline-block;
  width: 150px;
}

.addCinemaName{
  display: inline-block;
  font-family: Helvetica, sans-serif ;
  font-size: 17px;
}

.addCinemaAddress{
  display: block;
  width: 95%;
  height: 100px;
  font-family: Helvetica, sans-serif ;
  font-size: 15px;
}

.addCinemaButton{
  display: block;
  width: 150px;
}

.addCinemaCancel{
  display: inline-block;
  width: 150px;
}