
/*common*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
  width: 100%;
}

body {
	font-family: Helvetica, sans-serif !important;
	height: 100%;
    width: 100%;
	background: #fafafa;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; 
}

 a {
  text-decoration: none;  
}

ul {
  list-style: none; 
}

.clearfix {
	clear: both;
}

/*page*/

.wrapper {
  height: 100% !important;
  position: relative; }


.page_content {
  height: 100% !important;
  font-family: Calibri;
  width: 100%;
  padding-top: 60px; }

.verticalOffset {
  margin-top: 100px; 
  margin-bottom: 100px; }

.header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  z-index: 1000;
  position: absolute;
  top: 0;
  }
 
  .nav_bar {
    float: right;
    height: 100%;
    display: inline-block;
} 

.nav_bar ul {
  height: 100%; }

.nav_bar li { 
  display: inline-block;
  color: #000;
  margin-right: 25px;
  height: 100%;
  box-sizing: border-box;
  transition: all .2s;
  color: #fff;
  font-size: 18px; }

 
.nav_bar a {
  display: inline-block;
  height: 100%;
  color: #000;
  border-bottom: 0px solid #fff; }

.nav_bar a:hover {
	cursor: pointer;
} 

.logo {
	font-size: 24px;
	color: #000;
}

  /*auth*/

  .form_wrap {
	height: 400px;
  }

  .auth_form {
	height: 100%;
  }

  .form_label {
	height: 80px;
	font-size: 16px;
	font-weight: bold;
} 

  .form_input {
	font-weight: normal;
	padding: 10px;
	width: 100%;
	font-size: 16px;
  }

  .form_submit {
	font-style: 20px;
	font-weight: bold;
	padding: 5px;
	width: 100%;
  }

  /* account */

  .accWS {
  	background: #ccc;
  }

  .account {
    width: 100% !important;
  }

  .sideMenu_menuItem a {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 24px;
    color: black;
    position: relative;
  }

  .sideMenu_wrap {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: $mainRed;
    float:left;
  }

  .sideMenu_menuList{
     width: 100%;
     padding: 0 ;

   }

  .sideMenu_menuItem {
    padding: 5px;
    background: $mainDark;
  }

  .workSpace_header {
    height: 40px;
    position: relative;
    background: $mainRed;
  }

  .workSpace_wrap{
     padding: 0 !important;
  }

  .workSpace_content {
    background: #ddd;
    position: relative;
  }

  .options {
    display: inline-block;
    float: right;
  }

  .options li {
    display: inline-block;
    float: right; 
  }
  
  .breadCrumbs li {
    display:  inline-block;
  }

  .breadCrumbs {
    display:  inline-block;
    width: auto;
  }

  .workSpace_itemList li{
    display: inline-block;
  }

  .cinemaItem{

  }